.pokeball-back {
    position: fixed;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    z-index: -100;
    opacity: 0.5;
    width: 100%;
    opacity: .5;
}

.pokeball-filter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    padding: 10px 70px;
    border: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #666;
    color: #fff;
}

.pokeball-filter:focus {
    outline: none;
}

.pokeball-filter::placeholder {
    color: #fff;
}

.poke-list {
    overflow-x: hidden;
    float: right;
    margin-top: 50px;
    width: 30%;
    min-width: 320px;
    text-transform: capitalize;
    opacity: .95;
}

.poke-list-item {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-top-left-radius: 20px;
    cursor: pointer;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.poke-list-item:hover {
    background-color: #555;
}

.poke-list-item-image {
    margin: 10px;
}

a {
    color: #fff;
    text-decoration: none;
}

.poke-profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    margin: 120px 0 0 0;
}

.poke-profile-name {
    font-size: 25px;
    font-weight: 800;
}

.poke-profile-sprite {
    width: 200px;
}

.back-button {
    background: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 10px 0;
}

.poke-types {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-types-item {
    margin: 0 5px;
}

.stats {
    text-align: center;
    background: #eeeeeead;
    margin: 25px auto;
}

.stats-info {
    padding: 7px 15px;
    border: 2px solid;
    border-color: #e4e4e4;
}

.button-add {
    position: relative;
    top: 50px;
}